#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$vzcdHuRBzBxn.2VD$VIKbktryrIikqryGTHjFIF/kesC1NU9VXUaDAQqO.BPhRCvyj4ebavfB2g37OHfk2JqAfL/BTe94tJuo2ysK71
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Seoul
user --groups=wheel --name=oyj --password=$6$RKjub.DIJoNEFyY0$WA9Lymor.5LP4kEIaviajL8Mj8Gz6Y0U1E6yeX1UjZLQoWSovQAiEd1p8xUis/zlAltGdeXE24kjlTZP5wnqy. --iscrypted --gecos="oyj"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
#part pv.314 --fstype="lvmpv" --ondisk=sda --size=20480
part /boot --fstype="xfs" --ondisk=sda --size=1024
part /  --fstype="xfs" --ondisk=sda --size=10240
part swap --fstype="swap" --size=2048
#volgroup cl --pesize=4096 pv.314
#logvol /  --fstype="xfs" --grow --maxsize=15000 --size=20000 --name=root --vgname=cl
#logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=cl

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
