#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
#graphical
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$PCJkFcarVF8wC9uo$GkBYM1hycFElvWNyMtJY9gh44qn9/ooxZCZyuc1BSTocwHZ6y6Y5JHzVeOdAYxjPgwOZbn52KnEFy5cpBeBoM/
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Seoul --isUtc
user --name=oyj --password=$6$au4COE73CQ/T4sjH$BX2bl6TCep6wjziA/88UQDut63lXVCsErcpVbsdwn4dEaHhvaJqhhPAwPm5TXnHCahpgJ47zobHgAxVoSSsMJ1 --iscrypted --gecos="oyj"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
